.register-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 16rem;
  background-color: #f0f7fa;
}

.register-page-logo {
  width: 8rem;
  max-width: 100%;
  margin-bottom: 2rem;
}

.register-page-logo svg {
  color: #001f29;
  width: 100%;
  height: auto;
}

.register-error-container {
  border: 2px solid #e3170a;
  background-color: white;
  color: #001f29;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  max-width: 80%;
  text-align: center;
}

.register-error-title {
  font-size: 1.05rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.register-error-invalid-fields {
  color: #1c4c5c;
  text-align: left;
  margin-left: 1rem;
  list-style-type: disc;
  list-style-position: inside;
  line-height: 1.3rem;
  font-size: 0.9rem;
}

.register-error-server-error-text {
  color: #1c4c5c;
  line-height: 1.3rem;
  font-size: 0.9rem;
}

.register-confirmed-container {
  border: 2px solid #44bba4;
  background-color: white;
  color: #001f29;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  max-width: 80%;
}

.register-confirmed-title {
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.register-page-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
}

.register-page-form-label {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  align-self: start;
  color: #001f29;
}

.register-page-invalid-field-alert {
  color: #e3170a;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  align-self: start;
}

.register-page-invalid-field-alert svg {
  vertical-align: middle;
  margin-right: 0.2rem;
  margin-bottom: 0.1rem;
}

.register-page-form-input {
  width: 20rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 100%;
  color: #001f29;
}

.register-page-invalid-field {
  border: 1px solid #e3170a;
}

.register-page-form-input:focus {
  outline: #1c4c5c 1px solid;
}

.register-page-form-submit-button {
  margin-top: 1rem;
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  background-color: #00779e;
  color: white;
  border: solid 2px #4c7a8a;

  transition: background-color 0.2s ease-in-out;
}

.register-page-form-submit-button:hover {
  background-color: #1c4c5c;
}

.register-page-form-submit-button.register-page-form-loading {
  background-color: #1c4c5c;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.register-page-form-submit-button-loading {
  animation: rotate 1s infinite linear;
  border: 2px solid #f0f7fa;
  border-bottom-color: #ffffff00;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}
