.my-games-page-container {
  min-height: calc(100vh - 3rem - 2rem);
  margin-top: 3rem;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  background-color: #a5ccd9;
}

.my-games-page-title {
  margin-bottom: 1rem;
  margin-left: 2rem;
  font-size: 1.7rem;
  font-weight: bold;
}
