.navbar-item {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 0.625rem;
  box-sizing: border-box;
}

.navbar-item-name {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s;
  color: black;
}

.navbar-item-name:hover {
  color: #3a3a3a;
}

.navbar-container.navbar-transparent .navbar-item-name {
  color: white;
}

@media screen and (max-width: 600px) {
  .navbar-item {
    width: 100%;
    background-color: #ccffff;
    border-top: solid 1px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
  }

  .navbar-container.navbar-transparent.navbar-items-container-is-hidden
    .navbar-item {
    background-color: #ccffff00;
  }

  .navbar-container.navbar-transparent .navbar-item {
    background-color: #ccffff55;
  }

  .navbar-container.navbar-transparent.navbar-items-container-is-hidden
    .navbar-item-name {
    color: #ffffff00;
  }
}
