.navbar-container {
  background-color: #00779e;
  width: 100%;
  height: 3rem;

  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  transition: background-color 0.2s;
}

.navbar-container.navbar-transparent.navbar-items-container-is-hidden {
  background-color: #00779e00;
}

.navbar-container.navbar-transparent {
  background-color: #00779e55;
}

.navbar-logo-container {
  height: 100%;
  width: auto;
  display: flex;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

.navbar-logo-container svg {
  height: 100%;
  width: auto;
  color: white;
  transition: color 0.2s;
}

.navbar-container.navbar-transparent .navbar-logo-container svg {
  color: white;
}

.navbar-items-container {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: end;

  padding-right: 5vw;
}

.navbar-hamburger {
  display: none;
  cursor: pointer;
  color: white;
}

.navbar-container.navbar-transparent .navbar-hamburger {
  color: white;
}

@media screen and (max-width: 600px) {
  .navbar-hamburger {
    display: block;
    margin-right: 3vw;
  }

  .navbar-items-container {
    flex-flow: column nowrap;

    position: absolute;
    top: 3rem;
    height: auto;
    width: 100%;
  }

  .navbar-container.navbar-items-container-is-hidden .navbar-items-container {
    max-height: 0;
    overflow: hidden;
  }
}
