footer {
  width: 100%;
  height: 2rem;
  background-color: #cedde0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: #000000aa;
  font-family: Lato, sans-serif;
  font-size: 0.85rem;
}
