.game-card-container {
  height: 15rem;
  width: 11rem;
  min-width: 11rem;

  position: relative;

  cursor: pointer;
}

.game-card-image-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.game-card-image-container img {
  max-height: 100%;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.game-card-name-container {
  height: 100%;
  width: 100%;
  z-index: 10;
  position: relative;
  background-image: linear-gradient(
    to top,
    #001f29,
    #001f29e0 20%,
    #001f2970 30%,
    #001f2919 50%,
    #001f2900
  );
}

.game-card-name {
  position: absolute;
  bottom: 10px;
  width: 100%;

  color: white;
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 1.1rem;
  line-height: 1.3rem;

  padding: 0.2rem;
  box-sizing: border-box;
}
